<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Gallery NodeJS Cloudinary</title>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"
  integrity="sha384-5QFXyVb+lrCzdN228VS3HmzpiE7ZVwLQtkt+0d9W43LQMzz4HBnnqvVxKg6O+04d"
  crossorigin="anonymous"
/>
<link
  rel="shortcut icon"
  href="https://www.tuexpertomovil.com/wp-content/uploads/2018/03/aplicaciones-galeria.jpg"
  type="image/jpg"
/>
